@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size:62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  font-family: 'Roboto', sans-serif;
  font-size:1.8rem;
  color:$text-color;
  line-height: 1.5;
}


ul,li{
  list-style:none;
}

img{
 max-width: 100%;
 max-height: 100%;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,p,a{
  color:$text-color;
}

.hidden{
  display: none;
}
section{
  width: 100%;
}
.container{
  margin: 0 auto;
  width: min(90%, 1140px);
}

.plce_svg{
   padding: 4rem 1rem;
}