

  //  ===========Color=========

  $text-color:#494f58;
  $text-color-light:#cfd8dc;

  // =============Typograpy========

  $text-small:1.2rem;
  $text-normal: 1.8rem;
  $text-medium:2.4rem;
  $text-large:3.2rem;

  $header-small:3.8rem;
  $header-midium:4.4rem;
  $header-large:5.2rem;
  $header--bigger:6.4rem;

  // =================Background==============

  $bg-color:#f7fcfc;
  $bg-color-dark:#e3f2fd;
  $btn-color:#5c6bc0;
  $btn-color-dark:#3f51b5;